@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Fira+Sans:wght@600;700;800;900&family=Oswald:wght@500;600;700&family=Roboto:wght@400;700;900&display=swap');

/* body{
    font-family: Balsamiq Sans;
} */


@font-face{
    font-family: "CormorantInfant";
    src: url("../font/CormorantInfant-Bold.woff2") format("woff2"), 
    url("../font/CormorantInfant-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
} 

@font-face {
    font-family: "CormorantInfant";
    src: url("../font/CormorantInfant-Medium.woff2") format("woff2"), 
    url("../font/CormorantInfant-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "CormorantInfant";
    src: url("../font/CormorantInfant-Regular.woff2") format("woff2"), 
    url("../font/CormorantInfant-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}